# Data Types, Operators, and Strings

 ## Printing on Screen

In [11]:
print('Hello World Python')

Hello World Python

## Data Types

There are different data types in Python such as integer (int), float (float), string (str) etc. 
When declaring a variable in Python, it is not superseded by the data type as in java or C++

In [14]:
num = 10
pi = 3.14
print("num = ", num)
print("pi = ", pi)

num =  10
pi =  3.14

### type command
The "type" is used to return the data type of any variable

In [15]:
type(num)

int

In [5]:
pi = 3.14
print(pi)

3.14

In [16]:
type(pi)

float

In [17]:
name = 'Faheem'

In [18]:
type(name)

str

## Mathematical Operator
As in other programing lanuages, Python offers a number of mathemtical operators. See the following example.

In [20]:
x = 26
y = 10

sum = x + y
diff = x - y
prod = x*y
z1 = x / y
z2 = x // y
z3 = x % y

print("sum = ", sum)
print("diff = ", diff)
print("prod = ", prod)
print("z1 = ", z1)
print("z2 = ", z2)
print("z3 = ", z3)

sum =  36
diff =  16
prod =  260
z1 =  2.6
z2 =  2
z3 =  6

## Type Casting

Type casting is applied to cast a variable of a specific data type to another of the desired type.

In [2]:
num = 10
pi = 3.14
name = "Rahim"

In [21]:
float(num)

10.0

In [4]:
int(pi)

3

**NOT** all types of type casting is possible. <br>
For example, converting a string (str) to integer (int) will result in an error

In [22]:
int(name)

ValueError: invalid literal for int() with base 10: 'Faheem'

In [23]:
int('A')

ValueError: invalid literal for int() with base 10: 'A'

In [7]:
lit_num = str(num)

In [24]:
print(num)
type(lit_num)

10

str

In [25]:
num = num + 1
num

11

In [26]:
lit_num = lit_num + '1'
print(lit_num)

101

In [27]:
lit_num = lit_num + '1'

In [28]:
lit_num

'1011'

In [32]:
flag = True

In [33]:
type(flag)

bool

In [34]:
int(flag)

1

In [35]:
int(False)

0

In [36]:
bool(1)

True

In [37]:
bool(0)

False

## Strings in Python

Strings in Python are array of characters. Each element can be accessed by the index. Reverse indexing (representing the last character by index -1) is possible in Python.

In [1]:
name = "Rahim Ahmad"

<table><thead><tr><th>R</th><th>a</th><th>h</th><th>i</th><th>m</th><th></th><th>A</th><th>h</th><th>m</th><th>a</th><th>d</th></tr></thead><tbody><tr><td>0</td><td>1</td><td>2</td><td>3</td><td>4</td><td>5</td><td>6</td><td>7</td><td>8</td><td>9</td><td>10</td></tr><tr><td>-11</td><td>-10</td><td>-9</td><td>-8</td><td>-7</td><td>-6</td><td>-5</td><td>-4</td><td>-3</td><td>-2</td><td>-1</td></tr></tbody></table>

In [3]:
print('name[0] = ', name[0])
print('name[4] = ', name[4])
print('name[5] = ', name[5])

print('name[-1] =  ', name[-1])
print('name[-11] = ', name[-11])

print('name[-13] = ', name[-13])

name[0] =  R
name[4] =  m
name[5] =
name[-1] =   d
name[-11] =  R

IndexError: string index out of range

### Splicing String
Parts of string can be accessed using the symbol : in python.

In [4]:
name = "Rahim Ahmad"
name[0:4]

'Rahi'

In [5]:
name[6:9]

'Ahm'

In [10]:
print(name[-11:4])

Rahi

<table><thead><tr><th>R</th><th>a</th><th>h</th><th>i</th><th>m</th><th></th><th>A</th><th>h</th><th>m</th><th>a</th><th>d</th></tr></thead><tbody><tr><td>0</td><td>1</td><td>2</td><td>3</td><td>4</td><td>5</td><td>6</td><td>7</td><td>8</td><td>9</td><td>10</td></tr><tr><td>-11</td><td>-10</td><td>-9</td><td>-8</td><td>-7</td><td>-6</td><td>-5</td><td>-4</td><td>-3</td><td>-2</td><td>-1</td></tr></tbody></table>

The following code returns every 2nd element of the string "name"

In [11]:
name[::2]

'RhmAmd'

The following code returns every 2nd element of the string "name" starting from the 2nd character till 9th character (not included)

In [13]:
name[1:10:7]

'am'

In [48]:
name[2:10:2]

'hmAm'

In [15]:
name[2::2]

'hmAmd'

In [16]:
len(name)

11

The following code produces 3 copies of the string "name" and stores it in the variable "new_name"

In [15]:
name="Rahim "
new_name = 3*name
new_name

'Rahim Rahim Rahim '

Strings are immutable, i.e., their contents cannot be modified.

In [16]:
name = "Rahim"
name[0] = "Z"
print(name)

TypeError: 'str' object does not support item assignment

In [17]:
name = "Rahim"
name = name + " Ahmad"
print(name)
age=10
print(age)

Rahim Ahmad
10

In [18]:
print("Hello \t\t World")
print("Hello \\ World")
print("Hello \n World")

Hello 		 World
Hello \ World
Hello
 World

## Operations on String

In [21]:
name = "Rahim Ahmad"
name2 = name.replace("Ahm", "xyz")

In [22]:
name2

'Rahim xyzad'

In [24]:
name3 = name.lower()
name3

'rahim ahmad'

In [25]:
name.find("hi")

2

In [27]:
name = "Rahim Ahmad"
name.find("bye")

-1