# Python Data Structures

The notebook covers the following data structures
* Tuples
* List
* Dictionaries
* Sets

## Tuples
- Tuples are an ordered sequence.
- Tuples are written as comma-separated elements with parentheses.

In [1]:
ratings = (5, 4, 2, 4, 3)

In [2]:
ratings

(5, 4, 2, 4, 3)

In [3]:
tuple1 = ("Joker", 2019, 8.6)

In [4]:
tuple1

('Joker', 2019, 8.6)

In [5]:
type(tuple1)

tuple

In [6]:
type(ratings)

tuple

In [7]:
tuple1

('Joker', 2019, 8.6)

## Accessing Tuple Elements
- Tuple elements can be accessed via index

In [8]:
tuple1[0]

'Joker'

In [9]:
tuple1[2]

8.6

In [10]:
type(tuple1[2])

float

In [11]:
tuple1[-1]

8.6

In [12]:
tuple1[4]

IndexError: tuple index out of range

In [ ]:
tuple1

In [13]:
tuple1[0][0]

'J'

In [14]:
type(tuple1[0][0])

str

In [15]:
tuple1[0]

'Joker'

In [16]:
tuple1[0] = "Not Joker"

TypeError: 'tuple' object does not support item assignment

In [17]:
tuple2 = tuple1

In [18]:
tuple2

('Joker', 2019, 8.6)

##  Concatenating Tuples

In [19]:
tuple3 = tuple1 + ("Thriller",2)

In [20]:
tuple3

('Joker', 2019, 8.6, 'Thriller', 2)

In [21]:
del(tuple3)

In [22]:
tuple3

NameError: name 'tuple3' is not defined

In [23]:
tuple2

('Joker', 2019, 8.6)

In [24]:
del(tuple2[0])

TypeError: 'tuple' object doesn't support item deletion

In [ ]:
tuple2

In [25]:
tuple3 = tuple1 + ("Thriller", 2)
tuple3

('Joker', 2019, 8.6, 'Thriller', 2)

In [26]:
tuple3[0:3]

('Joker', 2019, 8.6)

In [27]:
tuple3[3:5]

('Thriller', 2)

In [28]:
len(tuple3)

5

## Nested Tuples

In [29]:
nested_tuple=(1, "Ahmad", ("pop", "rock"), ("disco", (1,2)))

In [30]:
nested_tuple[1]

'Ahmad'

In [31]:
nested_tuple[2]

('pop', 'rock')

In [32]:
nested_tuple[3]

('disco', (1, 2))

In [33]:
nested_tuple[2]

('pop', 'rock')

In [34]:
nested_tuple[2][1]

'rock'

In [35]:
nested_tuple[3][1]

(1, 2)

In [36]:
nested_tuple[3][1][0]

1

In [37]:
nested_tuple[3][1][4]

IndexError: tuple index out of range

In [38]:
nested_tuple

(1, 'Ahmad', ('pop', 'rock'), ('disco', (1, 2)))

In [39]:
nested_tuple[2][0]

'pop'

In [42]:
nested_tuple[2][0][0]

'p'

In [43]:
tuple4 = (1, [2,3])

In [44]:
tuple4

(1, [2, 3])

In [45]:
tuple4[1]

[2, 3]

In [46]:
tuple4[1][1]

3

In [47]:
tuple4[1][1] = 5

In [48]:
tuple4

(1, [2, 5])

In [49]:
tuple4[0] = 10

TypeError: 'tuple' object does not support item assignment

## Lists
- Lists are an ordered sequence.
- Lists are mutable.
- Lists can contain different data types.
- Lists can be nested.
- Lists can nest tuples and other data structures.

In [50]:
L1 = ["The Godfather", 1972, 9.2]

In [51]:
L1

['The Godfather', 1972, 9.2]

In [52]:
L1[0]

'The Godfather'

In [53]:
L1[-1]

9.2

In [54]:
L1[0:3]

['The Godfather', 1972, 9.2]

In [55]:
type(L1)

list

## Extending List

In [56]:
L1.extend(["Drama",3])

In [57]:
L1

['The Godfather', 1972, 9.2, 'Drama', 3]

## Apending List

In [58]:
L1 = ["The Godfather", 1972, 9.2]
L1.append(["le1", 2])

In [59]:
L1

['The Godfather', 1972, 9.2, ['le1', 2]]

# Removing Elements From a List

In [60]:
L1.pop()   # Pop removes the last index item
L1

['The Godfather', 1972, 9.2]

In [61]:
L1.pop(1)   # removes item at index 1
print(L1)

['The Godfather', 9.2]

In [62]:
L1.remove(9.2)   # removing a specific item from a list using remove function
print(L1)

['The Godfather']

In [63]:
# Removing all the elements from a list
L1.clear()
print(L1)

[]

# Count

In [64]:
list = ["a","b","c","d","e","a"]
print(list.count("a"))  # count a in list

2

# Sorting a List

In [66]:
list1 = ["a","b","z","c","d","e","a"]
list1.sort()   # sort a list (modify original list)
print(list1)

['a', 'a', 'b', 'c', 'd', 'e', 'z']

In [68]:
list2 = ["a","b","c","d","e","a"]   
print(sorted(list2))   # sort a list (but does not modify original list)
print(list2)

['a', 'a', 'b', 'c', 'd', 'e']
['a', 'b', 'c', 'd', 'e', 'a']

In [2]:
# Copying a list
list2 = ["a","b","c","d","e","a"]   
new_list2 = [1,2]
new_list2 = list2.copy()
print(new_list2)

['a', 'b', 'c', 'd', 'e', 'a']

In [5]:
# Reversing a list
list4 = ["a","b","c","d","e","a"]   
list4.sort()
list4.reverse()  
print(list4)

['e', 'd', 'c', 'b', 'a', 'a']

# What will be the Output?

In [8]:
list5 = ["a","b","c","d","e","a"]
list5.sort()   # sort a list (modify original list)
list5.reverse()
print(list5[::-1])

['a', 'a', 'b', 'c', 'd', 'e']

# Lists Unpacking

In [11]:
a,b,c = [1,2,3]
print(a)
print(b)
print(c)

1
2
3

In [16]:
a,b,c,*other,d = [1,2,3,4,5,6,7,8,9]
print(a)
print(b)
print(c)
print(other)
# print(d)

1
2
3
[4, 5, 6, 7, 8]

## Converting String to List

In [17]:
fileData = "This is some data read from a file using some strange command that nobody undertands"

In [18]:
fileData

'This is some data read from a file using some strange command that nobody undertands'

In [19]:
len(fileData)

84

In [20]:
words = fileData.split()

In [21]:
words

['This',
 'is',
 'some',
 'data',
 'read',
 'from',
 'a',
 'file',
 'using',
 'some',
 'strange',
 'command',
 'that',
 'nobody',
 'undertands']

In [22]:
len(words)

15

In [23]:
student_record = "18PWBCS0101,Muhammad,Ahmad,A,3.8"

In [24]:
student_record

'18PWBCS0101,Muhammad,Ahmad,A,3.8'

In [25]:
student = student_record.split(",")

In [26]:
student

['18PWBCS0101', 'Muhammad', 'Ahmad', 'A', '3.8']

## Dictionary
- A dictionary is a key-value paired list.

In [1]:
student = {"Name":"Rahim", "RegNo":"18PWBCS0101", "Section":"A"}

In [2]:
student

{'Name': 'Rahim', 'RegNo': '18PWBCS0101', 'Section': 'A'}

In [3]:
student["Grade"] = "A"

In [4]:
student

{'Name': 'Rahim', 'RegNo': '18PWBCS0101', 'Section': 'A', 'Grade': 'A'}

In [5]:
student["Grade"] = "B"
student

{'Name': 'Rahim', 'RegNo': '18PWBCS0101', 'Section': 'A', 'Grade': 'B'}

In [6]:
student["Name"]

'Rahim'

In [7]:
# Dictionaries are non-indexed
student[0]

KeyError: 0

In [8]:
movies_release = {"The Godfather": 1972, "The Dark Knight":2008, "12 Angry Men":1957, "Pulp Fiction":1994}

In [9]:
movies_release

{'The Godfather': 1972,
 'The Dark Knight': 2008,
 '12 Angry Men': 1957,
 'Pulp Fiction': 1994}

In [10]:
movies_release["Pulp Fiction"]

1994

In [11]:
movies_release["Inception"]

KeyError: 'Inception'

## Adding elements in the dictionary

In [12]:
movies_release["Inception"] = 2010

In [13]:
movies_release

{'The Godfather': 1972,
 'The Dark Knight': 2008,
 '12 Angry Men': 1957,
 'Pulp Fiction': 1994,
 'Inception': 2010}

In [16]:
movies_release["Inception"] = 2010

In [17]:
movies_release

{'The Godfather': 1972,
 'The Dark Knight': 2008,
 '12 Angry Men': 1957,
 'Pulp Fiction': 1994,
 'Inception': 2010}

In [18]:
movies_release["Inception"] = 2012

In [19]:
movies_release

{'The Godfather': 1972,
 'The Dark Knight': 2008,
 '12 Angry Men': 1957,
 'Pulp Fiction': 1994,
 'Inception': 2012}

In [20]:
movies_release["Inception"] = 2010
movies_release

{'The Godfather': 1972,
 'The Dark Knight': 2008,
 '12 Angry Men': 1957,
 'Pulp Fiction': 1994,
 'Inception': 2010}

In [21]:
del(movies_release["Inception"])

In [22]:
movies_release

{'The Godfather': 1972,
 'The Dark Knight': 2008,
 '12 Angry Men': 1957,
 'Pulp Fiction': 1994}

In [23]:
del(movies_release["Inception"])

KeyError: 'Inception'

In [24]:
movies_release["Inception"] = 2010

In [25]:
movies_release

{'The Godfather': 1972,
 'The Dark Knight': 2008,
 '12 Angry Men': 1957,
 'Pulp Fiction': 1994,
 'Inception': 2010}

In [26]:
movies_release["Inception"] = ""

In [27]:
movies_release

{'The Godfather': 1972,
 'The Dark Knight': 2008,
 '12 Angry Men': 1957,
 'Pulp Fiction': 1994,
 'Inception': ''}

In [28]:
movies_release["Inception"] = 2010

In [29]:
# movies_release.keys()
movies_release.values()

dict_values([1972, 2008, 1957, 1994, 2010])

## Verifying elements in dictionary

In [30]:
findmovie = "The Dark Knight"

In [31]:
findmovie in movies_release

True

In [32]:
findmovie = "The Not so dark Knight"

In [33]:
findmovie in movies_release

False

In [34]:
movies_release

{'The Godfather': 1972,
 'The Dark Knight': 2008,
 '12 Angry Men': 1957,
 'Pulp Fiction': 1994,
 'Inception': 2010}

## Obtaining Keys and Values

In [35]:
movies_release.keys()

dict_keys(['The Godfather', 'The Dark Knight', '12 Angry Men', 'Pulp Fiction', 'Inception'])

In [36]:
movies_release.find("The Dark Knight")

AttributeError: 'dict' object has no attribute 'find'

In [37]:
movies_release

{'The Godfather': 1972,
 'The Dark Knight': 2008,
 '12 Angry Men': 1957,
 'Pulp Fiction': 1994,
 'Inception': 2010}

In [38]:
movies_release.keys()

dict_keys(['The Godfather', 'The Dark Knight', '12 Angry Men', 'Pulp Fiction', 'Inception'])

In [39]:
type(movies_release.keys())

dict_keys

In [40]:
movies_release.values()

dict_values([1972, 2008, 1957, 1994, 2010])

In [41]:
movies_genre = {"Action","Comedy", "Horror", "Sci Fi", "Romance", "Horror", "Comedy"}

In [ ]:
movies_genre

## Sets
- Sets are a type of collection.
- Can input different Python types 
- Unordered
- Unindexed
- Unique elements

## Creating Sets

In [42]:
movies_genre = {"Action", "Comedy", "Horror", "Romance", "Sci Fi", "Comedy", "Horror"}

In [43]:
movies_genre

{'Action', 'Comedy', 'Horror', 'Romance', 'Sci Fi'}

## Typecasting Lists to Sets

In [44]:
shopping_list = ["shirt", "shoes", "socks", "shirt", "jeans"]
shopping_set = set(shopping_list)
shopping_set

{'jeans', 'shirt', 'shoes', 'socks'}

## Set Operations :: add

In [45]:
album_set= {"AC/DC", "Back in Black", "Thriller"}
print("Before adding NSYNC : ", album_set)
album_set.add("NSYNC")
print("After adding NSYNC : ", album_set)
print("Now adding NYSNC again...")
album_set.add("NSYNC") 
print("After adding NSYNC again : ", album_set)

Before adding NSYNC :  {'Back in Black', 'AC/DC', 'Thriller'}
After adding NSYNC :  {'Back in Black', 'AC/DC', 'NSYNC', 'Thriller'}
Now adding NYSNC again...
After adding NSYNC again :  {'Back in Black', 'AC/DC', 'NSYNC', 'Thriller'}

## Set Operation :: remove

In [46]:
print("Before remove NSYNC : ", album_set)
album_set.remove("NSYNC")
print("After removing NSYNC : ", album_set)
print("Now removing NYSNC again...")
album_set.remove("NSYNC") 
print("After removing NSYNC again : ", album_set)

Before remove NSYNC :  {'Back in Black', 'AC/DC', 'NSYNC', 'Thriller'}
After removing NSYNC :  {'Back in Black', 'AC/DC', 'Thriller'}
Now removing NYSNC again...

KeyError: 'NSYNC'

## Set Operations :: Element Verification

In [47]:
album_set= {"AC/DC", "Back in Black", "Thriller"}
"AC/DC" in album_set

True

In [48]:
"Psy 6" in album_set

False

## Set Operations :: Intersection

In [49]:
album_set1= {"AC/DC", "Back in Black", "Thriller", "NSYNC"}
album_set2= {"AC/DC", "Psy 6", "Thank U, Next", "NSYNC"}

album_set3 = album_set1 & album_set2
album_set3

{'AC/DC', 'NSYNC'}

## Set Operations :: Union

In [50]:
album_set1= {"AC/DC", "Back in Black", "Thriller", "NSYNC"}
album_set2= {"AC/DC", "Psy 6", "Thank U, Next", "NSYNC"}

album_set3 = album_set1.union(album_set2)
album_set3

{'AC/DC', 'Back in Black', 'NSYNC', 'Psy 6', 'Thank U, Next', 'Thriller'}

## Set Operations :: Subset

In [51]:
album_set1= {"AC/DC", "Back in Black", "Thriller", "NSYNC"}
album_set2= {"AC/DC", "Psy 6", "Thank U, Next", "NSYNC"}

album_set3 = album_set1 & album_set2
print(album_set3.issubset(album_set1))
print(album_set1.issubset(album_set2))

True
False

In [52]:
set_test = {(1,2), 2, 3,4}

In [53]:
set_test

{(1, 2), 2, 3, 4}