# Python Datatypes

Following are different datatypes in python

In [1]:
int
float
bool
str
list
tuple
set
dict

dict

# 1. Integer

In [2]:
print (2 + 4)
print (2-4)
print (2*4)
print (2/4)

6
-2
8
0.5

In [3]:
print (type(2 + 4))
print (type(2-4))
print (type(2*4))
print (type(2/4))

<class 'int'>
<class 'int'>
<class 'int'>
<class 'float'>

In [4]:
print(type(20+1.1))

<class 'float'>

In [5]:
print(2**3)

8

In [6]:
print(5 // 4)   # Returns quotient integer part

1

In [7]:
print(5 % 4)  # Returns Remiander

1

# Math Functions

In [8]:
print(round(3.1))

3

In [9]:
print(abs(-20)) # Returns absolute value of a number

20

In [10]:
import math

# Now you can use the cos function from the math module
print(math.cos(0))

1.0

# Operator Precedence

In [11]:
# ()        # Parenthesis
# **        # Power
# * /       # Multiply, Divide
# + -       # Addition, Subtraction

In [12]:
print(20 + 3 * 4)

32

In [13]:
print(20 - 3 * 4 )

8

# Converting Decimal To Binary

In [14]:
bin(5)    # Binary Numbers

'0b101'

# Converting Binary to Decimal

In [15]:
print(int('0b101',2))

5

# Variables

Variables are containers for storing values or data.
Python has no command for declaring a variable.

A variable is created the moment you first assign a value to it.

## Naming Conventions

- A variable name must start with a letter or the underscore character. 
- A variable name cannot start with a number.
- A variable name can only contain alpha-numeric characters and underscores (A-z, 0-9, and _ ).
- Variable names are case-sensitive (age, Age and AGE are three different variables)

In [16]:
x = 5
y = "John"
print(x)
print(y)

5
John

In [17]:
x = 4       # x is of type int
x = "Sally" # x is now of type str
print(x)

Sally

# Expression Vs Statements

Expression: A piece of code that produces a value e.g 6/2, 3*5

Statement: A statement is an entire line of code e.g. print("Hello World")

# Augment Assignment Operator

In [18]:
some_value = 5
some_value += 10
print(some_value)

15

# Strings

In [19]:
name = "10"
print(type(name))

<class 'str'>

In [20]:
print(type(name))

<class 'str'>

In [21]:
name2='Ali'
print(name2)

Ali

In [22]:
long_string = '''
WOW
O O
---
'''
print(long_string)

WOW
O O
---

# Strings Concatenation

In [23]:
first_name = "Raza"
last_name = "Kazmi"

In [24]:
full_name = first_name + ' '+ last_name
print(full_name)

Raza Kazmi

In [25]:
full_name = first_name + ' '+ last_name
print(full_name)

Raza Kazmi

# Type Conversion

In [26]:
x = str(3)
y = int(3)
z = float(3)

print(type(x))
print(type(y))
print(type(z))

<class 'str'>
<class 'int'>
<class 'float'>

In [27]:
num=10
print(type(num))

<class 'int'>

In [28]:
num_string = str(num)

In [29]:
print(type(num_string))

<class 'str'>

# What will be the Output?

In [30]:
# print(type(int(str(100))))
print(str(100))

100

# Escape Sequence in Python

Print the following string:
#### It's "kind of" sunny

In [31]:
weather = " It\'s \"kind of\" sunny"

In [32]:
print(weather)

 It's "kind of" sunny

In [33]:
weather = " \t It\'s \"kind of\" sunny"

In [34]:
print(weather)

 	 It's "kind of" sunny

In [35]:
weather = " It\'s \"kind of\" sunny \n hope you have a good day"
print(weather)

 It's "kind of" sunny
 hope you have a good day

In [36]:
# backspace

#This example erases one character (backspace):
txt = "Hello \bWorld!"
print(txt)

Hello World!

# Formatted Strings

Format the below code using f string

In [37]:
name = "Alice"
age = 25

print('Hi '+ name + '. You are ' + str(age) + ' years old.')

Hi Alice. You are 25 years old.

Now we will format the above code using formatted string.

In [53]:
name = "Alice"
age = 25

print('Hi {}. You are {} years old.'.format(name,age))

Hi Alice. You are 25 years old.

Now we will format the above code using f string.

In [55]:
# Python 3
name = "Alice"
age = 25

print(f'Hi {name}. You are {age} years old.')

Hi Alice. You are 25 years old.

# Strings Indexes

Strings are stored in memory in order.
e.g.

In [56]:
str = "me me me"
#index:01234567

In [57]:
print(str[0])

m

In [42]:
print(str[7])

e

# Strings Slicing

In [43]:
print(str[0:4])

me m

# Strings StepOver

In [58]:
print(str[0:8:1])

me me me

In [45]:
str1="1234567"
print(str1[1:])

234567

In [46]:
print(str1[:5])

12345

In [47]:
print(str1[::1])

1234567

In [48]:
print(str1[-3])

5

In [49]:
print(str1[::-1])

7654321

# Strings Immutability

Strings are immutable.

In [50]:
name="Mike Hussey"

In [51]:
name[0]="N"

TypeError: 'str' object does not support item assignment

In [59]:
# Re-assignment is allowed
name="Nike Hussey"
print(name)

Nike Hussey

# Python Built-in Functions

In [ ]:
greet="Helloooo"
print(greet[0:len(greet)])

In [ ]:
quote = "to be or not to be"

In [ ]:
print(quote.upper())

In [ ]:
print(quote.capitalize())

In [ ]:
print(quote.lower())

In [ ]:
print(quote.find('be'))     # Does be exist in quote

In [ ]:
print(quote.replace('be', 'me'))  # Replace be with me

In [ ]:
print(quote)

# Boolean

In [ ]:
is_cold_outside=False
print(is_cold_outside)

In [ ]:
print(bool(1))

# Age Calculator

Write a program that calculates your age. e.g
--------------
Enter your birth year: 2000

You are 24 years old.

In [ ]:
birth_year = input("Enter your birth year")
age = 2024 - int(birth_year)
print(f"You are {age} years old.")

In [ ]:


import datetime

x = datetime.datetime.now()

birth_year = input("Enter your birth year")
age = x.year - int(birth_year)
print(f"You are {age} years old.")

# print(x.year)
# print(x.strftime("%A"))

# Password Checker

In [ ]:
user_name = input("Please enter your username: ")
password = input("Please enter your password: ")

password_length = len(password)
hidden_password = '*' * password_length

print(f'Hi {user_name}, your password {hidden_password}, is {password_length} letters long.')

# Lists

A list is an ordered sequence of elements.

In [ ]:
list1 = ["abc", 34, True, 40, "xyz"]

print(list1)

# Lists Slicing

In [ ]:
amazon_cart=["notebooks","sunglasses","toys","grapes"]
print(amazon_cart[0:2])

In [ ]:
print(amazon_cart[::2])

In [ ]:
amazon_cart[0]="Laptop"
print(amazon_cart)