# Python Data Structures

The notebook covers the following data structures
* Tuples
* List
* Dictionaries
* Sets

## Tuples
- Tuples are an ordered sequence.
- Tuples are written as comma-separated elements with parentheses.

In [1]:
ratings = (5, 4, 2, 4, 3)

In [2]:
ratings

(5, 4, 2, 4, 3)

In [3]:
tuple1 = ("Joker", 2019, 8.6)

In [4]:
tuple1

('Joker', 2019, 8.6)

In [5]:
type(tuple1)

tuple

In [6]:
type(ratings)

tuple

In [7]:
tuple1

('Joker', 2019, 8.6)

## Accessing Tuple Elements
- Tuple elements can be accessed via index

In [8]:
tuple1[0]

'Joker'

In [9]:
tuple1[2]

8.6

In [10]:
type(tuple1[2])

float

In [11]:
tuple1[-1]

8.6

In [12]:
tuple1[4]

IndexError: tuple index out of range

In [13]:
tuple1

('Joker', 2019, 8.6)

In [14]:
tuple1[0][0]

'J'

In [15]:
type(tuple1[0][0])

str

In [16]:
tuple1[0]

'Joker'

In [17]:
tuple1[0] = "Not Joker"

TypeError: 'tuple' object does not support item assignment

In [18]:
tuple2 = tuple1

In [19]:
tuple2

('Joker', 2019, 8.6)

##  Concatenating Tuples

In [20]:
tuple3 = tuple1 + ("Thriller",2)

In [21]:
tuple3

('Joker', 2019, 8.6, 'Thriller', 2)

In [22]:
del(tuple3)

In [23]:
tuple3

NameError: name 'tuple3' is not defined

In [24]:
tuple2

('Joker', 2019, 8.6)

In [25]:
del(tuple2[0])

TypeError: 'tuple' object doesn't support item deletion

In [26]:
tuple2

('Joker', 2019, 8.6)

In [27]:
tuple3 = tuple1 + ("Thriller", 2)
tuple3

('Joker', 2019, 8.6, 'Thriller', 2)

In [28]:
tuple3[0:3]

('Joker', 2019, 8.6)

In [29]:
tuple3[3:5]

('Thriller', 2)

In [30]:
len(tuple3)

5

## Nested Tuples

In [31]:
nested_tuple=(1, "Ahmad", ("pop", "rock"), ("disco", (1,2)))

In [32]:
nested_tuple[1]

'Ahmad'

In [33]:
nested_tuple[2]

('pop', 'rock')

In [34]:
nested_tuple[3]

('disco', (1, 2))

In [35]:
nested_tuple[2]

('pop', 'rock')

In [36]:
nested_tuple[2][1]

'rock'

In [37]:
nested_tuple[3][1]

(1, 2)

In [ ]:
nested_tuple[3][1][0]

In [ ]:
nested_tuple[3][1][4]

In [ ]:
nested_tuple

In [ ]:
nested_tuple[2][0]

In [ ]:
nested_tuple[2][0][0]

In [ ]:
tuple4 = (1, [2,3])

In [ ]:
tuple4

In [ ]:
tuple4[1]

In [ ]:
tuple4[1][1]

In [ ]:
tuple4[1][1] = 5

In [ ]:
tuple4

In [ ]:
tuple4[0] = 10

## Lists
- Lists are an ordered sequence.
- Lists are mutable.
- Lists can contain different data types.
- Lists can be nested.
- Lists can nest tuples and other data structures.

In [38]:
L1 = ["The Godfather", 1972, 9.2]

In [39]:
L1

['The Godfather', 1972, 9.2]

In [40]:
L1[0]

'The Godfather'

In [41]:
L1[-1]

9.2

In [42]:
L1[0:3]

['The Godfather', 1972, 9.2]

In [43]:
type(L1)

list

## Extending List

In [44]:
L1.extend(["Drama",3])

In [45]:
L1

['The Godfather', 1972, 9.2, 'Drama', 3]

## Apending List

In [46]:
L1 = ["The Godfather", 1972, 9.2]
L1.append(["le1", 2])

In [47]:
L1

['The Godfather', 1972, 9.2, ['le1', 2]]

## Converting String to List

In [48]:
fileData = "This is some data read from a file using some strange command that nobody undertands"

In [49]:
fileData

'This is some data read from a file using some strange command that nobody undertands'

In [50]:
len(fileData)

84

In [51]:
words = fileData.split()

In [52]:
words

['This',
 'is',
 'some',
 'data',
 'read',
 'from',
 'a',
 'file',
 'using',
 'some',
 'strange',
 'command',
 'that',
 'nobody',
 'undertands']

In [53]:
len(words)

15

In [54]:
student_record = "18PWBCS0101,Muhammad,Ahmad,A,3.8"

In [55]:
student_record

'18PWBCS0101,Muhammad,Ahmad,A,3.8'

In [56]:
student = student_record.split(",")

In [57]:
student

['18PWBCS0101', 'Muhammad', 'Ahmad', 'A', '3.8']

## Dictionary
- A dictionary is a key-value paired list.

In [1]:
student = {"Name":"Rahim", "RegNo":"18PWBCS0101", "Section":"A"}

In [2]:
student

{'Name': 'Rahim', 'RegNo': '18PWBCS0101', 'Section': 'A'}

In [3]:
student["Name"]

'Rahim'

In [4]:
# Dictionaries are non-indexed
student[0]

KeyError: 0

In [5]:
movies_release = {"The Godfather": 1972, "The Dark Knight":2008, "12 Angry Men":1957, "Pulp Fiction":1994}

In [6]:
movies_release

{'The Godfather': 1972,
 'The Dark Knight': 2008,
 '12 Angry Men': 1957,
 'Pulp Fiction': 1994}

In [9]:
movies_release["Pulp Fiction"]

1994

In [10]:
movies_release["Inception"]

KeyError: 'Inception'

## Adding elements in the dictionary

In [11]:
movies_release["Inception"] = 2010

In [12]:
movies_release

{'The Godfather': 1972,
 'The Dark Knight': 2008,
 '12 Angry Men': 1957,
 'Pulp Fiction': 1994,
 'Inception': 2010}

In [15]:
movies_release["Inception1"] = 2010

In [16]:
movies_release

{'The Godfather': 1972,
 'The Dark Knight': 2008,
 '12 Angry Men': 1957,
 'Pulp Fiction': 1994,
 'Inception': 2010,
 'Inception1': 2010}

In [24]:
movies_release["Inception"] = 2012,2022,2023

In [28]:
movies_release
print(type(movies_release["Inception"]))

<class 'tuple'>

In [29]:
movies_release["Inception"] = 2010
movies_release

{'The Godfather': 1972,
 'The Dark Knight': 2008,
 '12 Angry Men': 1957,
 'Pulp Fiction': 1994,
 'Inception': 2010,
 'Inception1': 2010}

In [30]:
del(movies_release["Inception"])

In [31]:
movies_release

{'The Godfather': 1972,
 'The Dark Knight': 2008,
 '12 Angry Men': 1957,
 'Pulp Fiction': 1994,
 'Inception1': 2010}

In [32]:
del(movies_release["Inception"])

KeyError: 'Inception'

In [33]:
movies_release["Inception"] = 2010

In [34]:
movies_release

{'The Godfather': 1972,
 'The Dark Knight': 2008,
 '12 Angry Men': 1957,
 'Pulp Fiction': 1994,
 'Inception1': 2010,
 'Inception': 2010}

In [35]:
movies_release["Inception"] = ""

In [36]:
movies_release

{'The Godfather': 1972,
 'The Dark Knight': 2008,
 '12 Angry Men': 1957,
 'Pulp Fiction': 1994,
 'Inception1': 2010,
 'Inception': ''}

In [37]:
movies_release["Inception"] = 2010

In [38]:
movies_release

{'The Godfather': 1972,
 'The Dark Knight': 2008,
 '12 Angry Men': 1957,
 'Pulp Fiction': 1994,
 'Inception1': 2010,
 'Inception': 2010}

## Verifying elements in dictionary

In [39]:
findmovie = "The Dark Knight"

In [40]:
findmovie in movies_release

True

In [48]:
findmovie = 1972
print(type(findmovie))

<class 'int'>

In [49]:
findmovie in movies_release

False

In [43]:
movies_release

{'The Godfather': 1972,
 'The Dark Knight': 2008,
 '12 Angry Men': 1957,
 'Pulp Fiction': 1994,
 'Inception1': 2010,
 'Inception': 2010}

## Obtaining Keys and Values

In [53]:
movies_release.keys()

dict_keys(['The Godfather', 'The Dark Knight', '12 Angry Men', 'Pulp Fiction', 'Inception1', 'Inception'])

In [54]:
movies_release.find("The Dark Knight")

AttributeError: 'dict' object has no attribute 'find'

In [55]:
movies_release

{'The Godfather': 1972,
 'The Dark Knight': 2008,
 '12 Angry Men': 1957,
 'Pulp Fiction': 1994,
 'Inception1': 2010,
 'Inception': 2010}

In [56]:
movies_release.keys()

dict_keys(['The Godfather', 'The Dark Knight', '12 Angry Men', 'Pulp Fiction', 'Inception1', 'Inception'])

In [58]:
type(movies_release.keys())

dict_keys

In [61]:
movies_release.values()

dict_values([1972, 2008, 1957, 1994, 2010, 2010])

In [ ]:
movies_genre = {"Action","Comedy", "Horror", "Sci Fi", "Romance", "Horror", "Comedy"}

In [ ]:
movies_genre

## Sets
- Sets are a type of collection.
- Can input different Python types 
- Unordered
- Unindexed
- Unique elements

## Creating Sets

In [1]:
movies_genre = {"Action", "Comedy", "Horror", "Romance", "Sci Fi", "Comedy", "Horror"}

In [2]:
movies_genre

{'Action', 'Comedy', 'Horror', 'Romance', 'Sci Fi'}

## Typecasting Lists to Sets

In [3]:
shopping_list = ["shirt", "shoes", "socks", "shirt", "jeans"]
shopping_set = set(shopping_list)
shopping_set

{'jeans', 'shirt', 'shoes', 'socks'}

## Set Operations :: add

In [4]:
album_set= {"AC/DC", "Back in Black", "Thriller"}
print("Before adding NSYNC : ", album_set)
album_set.add("NSYNC")
print("After adding NSYNC : ", album_set)
print("Now adding NYSNC again...")
album_set.add("NSYNC") 
print("After adding NSYNC again : ", album_set)

Before adding NSYNC :  {'Back in Black', 'Thriller', 'AC/DC'}
After adding NSYNC :  {'Back in Black', 'Thriller', 'NSYNC', 'AC/DC'}
Now adding NYSNC again...
After adding NSYNC again :  {'Back in Black', 'Thriller', 'NSYNC', 'AC/DC'}

## Set Operation :: remove

In [5]:
print("Before remove NSYNC : ", album_set)
album_set.remove("NSYNC")
print("After removing NSYNC : ", album_set)
print("Now removing NYSNC again...")
album_set.remove("NSYNC") 
print("After removing NSYNC again : ", album_set)

Before remove NSYNC :  {'Back in Black', 'Thriller', 'NSYNC', 'AC/DC'}
After removing NSYNC :  {'Back in Black', 'Thriller', 'AC/DC'}
Now removing NYSNC again...

KeyError: 'NSYNC'

## Set Operations :: Element Verification

In [6]:
album_set= {"AC/DC", "Back in Black", "Thriller"}
"AC/DC" in album_set

True

In [7]:
"Psy 6" in album_set

False

## Set Operations :: Intersection

In [10]:
album_set1= {"AC/DC", "Back in Black", "Thriller", "NSYNC"}
album_set2= {"AC/DC", "Psy 6", "Thank U, Next", "NSYNC"}

album_set3 = album_set1 & album_set2
album_set3

{'AC/DC', 'NSYNC'}

## Set Operations :: Union

In [11]:
album_set1= {"AC/DC", "Back in Black", "Thriller", "NSYNC"}
album_set2= {"AC/DC", "Psy 6", "Thank U, Next", "NSYNC"}

album_set3 = album_set1.union(album_set2)
album_set3

{'AC/DC', 'Back in Black', 'NSYNC', 'Psy 6', 'Thank U, Next', 'Thriller'}

## Set Operations :: Subset

In [102]:
album_set1= {"AC/DC", "Back in Black", "Thriller", "NSYNC"}
album_set2= {"AC/DC", "Psy 6", "Thank U, Next", "NSYNC"}

album_set3 = album_set1 & album_set2
print(album_set3.issubset(album_set1))
print(album_set1.issubset(album_set2))

True
False

In [1]:
set_test = {(1,2), 2, 3,4}

In [2]:
set_test

{(1, 2), 2, 3, 4}