# Python Data Structures

The notebook covers the following data structures
* Tuples

## Tuples
- Tuples are an ordered sequence.
- Tuples are written as comma-separated elements with parentheses.

In [1]:
ratings = (5, 4, 2, 4, 3)

In [2]:
ratings

(5, 4, 2, 4, 3)

In [3]:
tuple1 = ("Joker", 2019, 8.6)

In [4]:
tuple1

('Joker', 2019, 8.6)

In [5]:
type(tuple1)

tuple

In [6]:
type(ratings)

tuple

In [7]:
tuple1

('Joker', 2019, 8.6)

## Accessing Tuple Elements
- Tuple elements can be accessed via index

In [18]:
tuple1[0][0:3]

'Jok'

In [9]:
tuple1[2]

8.6

In [10]:
type(tuple1[2])

float

In [11]:
tuple1[-1]

8.6

In [12]:
tuple1[4]

IndexError: tuple index out of range

In [13]:
tuple1

('Joker', 2019, 8.6)

In [14]:
tuple1[0][0]

'J'

In [15]:
type(tuple1[0][0])

str

In [16]:
tuple1[0]

'Joker'

In [17]:
tuple1[0] = "Not Joker"

TypeError: 'tuple' object does not support item assignment

In [18]:
tuple2 = tuple1

In [19]:
tuple2

('Joker', 2019, 8.6)

##  Concatenating Tuples

In [20]:
tuple3 = tuple1 + ("Thriller",2)

In [21]:
tuple3

('Joker', 2019, 8.6, 'Thriller', 2)

In [22]:
del(tuple3)

In [23]:
tuple3

NameError: name 'tuple3' is not defined

In [24]:
tuple2

('Joker', 2019, 8.6)

In [25]:
del(tuple2[0])

TypeError: 'tuple' object doesn't support item deletion

In [26]:
tuple2

('Joker', 2019, 8.6)

In [23]:
tuple1 = ("Joker", 2019, 8.6)
tuple3 = tuple1 + ("Thriller")
tuple3

('Joker', 2019, 8.6, 'Thriller')

In [28]:
tuple3[0:3]

('Joker', 2019, 8.6)

In [29]:
tuple3[3:5]

('Thriller', 2)

In [24]:
len(tuple3)

4

## Nested Tuples

In [25]:
nested_tuple=(1, "Ahmad", ("pop", "rock"), ("disco", (1,2)))

In [26]:
nested_tuple[1]

'Ahmad'

In [27]:
nested_tuple[2][0]

'pop'

In [34]:
nested_tuple[3]

('disco', (1, 2))

In [35]:
nested_tuple[2]

('pop', 'rock')

In [36]:
nested_tuple[2][1]

'rock'

In [37]:
nested_tuple[3][1]

(1, 2)

In [ ]:
nested_tuple[3][1][0]

In [ ]:
nested_tuple[3][1][4]

In [ ]:
nested_tuple

In [ ]:
nested_tuple[2][0]

In [ ]:
nested_tuple[2][0][0]

In [28]:
tuple4 = (1, [2,3])

In [ ]:
tuple4

In [ ]:
tuple4[1]

In [ ]:
tuple4[1][1]

In [ ]:
tuple4[1][1] = 5

In [ ]:
tuple4

In [ ]:
tuple4[0] = 10